.container {
    border: solid 1px black;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.boutons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}