<app-instructions></app-instructions>

<div class="container">

  <div class="boutons">
    <button (click)="onClickBouton('Bouton 1')">Bouton 1</button>

    <button (click)="onClickBouton('Bouton 2')">Bouton 2</button>

    <button (click)="onClickBouton('Bouton 3')">Bouton 3</button>

    <button (click)="onClickBouton('Bouton 4')">Bouton 4</button>
  </div>

  <div class="description">
    <span>Description 1</span>
    <span>Description 2</span>
    <span>Description 3</span>
    <span>Description 4</span>
  </div>

</div>