.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    border: solid 1px black;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    button {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    span {
        font-size: 16px;
        color: #333;
    }
}