<div class="instructions">
  <h2>Instructions</h2>
  <span>Etape 1 :</span>
  <ul>
    <li>
      A chaque clic sur un bouton il faudra colorier son background en bleu ( #bebeff ) pour indiquer qu'il est sélectionnée.
    </li>
    <li>
      Afficher la description du bouton sélectionné en dessous de celui-ci.
    </li>
    <li>
      Un seul bouton peut être sélectionner à la fois (donc une seule description visible).
    </li>
  </ul>
  <span>Etape 2 :</span>
  <ul>
    <li>
        Utiliser le service <code>DataService</code> pour récupérer la liste des boutons et leur description.
    </li>
    <li>
        Afficher la liste des boutons et leur description dans le template <code>app.component.html</code>.
    </li>
    <li>
        Garder le même comportement que l'étape 1.
    </li>
  </ul>
</div>